<a href="https://colab.research.google.com/github/Cill19/Python-for-Data-Analyst/blob/main/digital_wallet_transactions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

file_path = "/content/digital_wallet_transactions.csv"
df = pd.read_csv(file_path)

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   idx                 5000 non-null   int64
 1   transaction_id      5000 non-null   object
 2   user_id             5000 non-null   object
 3   transaction_date    5000 non-null   object
 4   product_category    5000 non-null   object
 5   product_name        5000 non-null   object
 6   merchant_name       5000 non-null   object
 7   product_amount      5000 non-null   float64
 8   transaction_fee     5000 non-null   float64
 9   cashback            5000 non-null   float64
 10  loyalty_points      5000 non-null   int64
 11  payment_method      5000 non-null   object
 12  transaction_status  5000 non-null   object
 13  merchant_id         5000 non-null   object
 14  device_type         5000 non-null   object
 15  location            5000 non-null   object
dtypes: float64(3), int64(2), object(11)
memory usage: 625.1+ KB

In [6]:
#convert transaction_date ke date_time
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

In [7]:
#Penambahan kolom waktu turunan
df['date'] = df['transaction_date'].dt.date
df['year'] = df['transaction_date'].dt.year
df['month'] = df['transaction_date'].dt.to_period('M')
df['day_name'] = df['transaction_date'].dt.day_name()
df['hour'] = df['transaction_date'].dt.hour

In [8]:
#cek missing values
df.isnull().sum()

idx                   0
transaction_id        0
user_id               0
transaction_date      0
product_category      0
product_name          0
merchant_name         0
product_amount        0
transaction_fee       0
cashback              0
loyalty_points        0
payment_method        0
transaction_status    0
merchant_id           0
device_type           0
location              0
date                  0
year                  0
month                 0
day_name              0
hour                  0
dtype: int64

In [9]:
df.to_csv("digital_wallet_clean.csv", index=False)